@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #F5F5F5; /* Gris claro */
    color: #333333; /* Negro suave */
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: #2D433C; /* Verde oscuro */
    color: white;
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 8px 12px;
    transition: 0.3s ease;
}

.nav-links a:hover {
    background-color: #3F5C50; /* Verde más claro */
    border-radius: 5px;
}

/* Estilos generales */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    color: #333;
}

h2 {
    color: #2D433C;
    border-bottom: 2px solid #2D433C;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

/* Estilos para las secciones */
.form-section {
    margin-bottom: 40px;
    margin-top: 3rem;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form-group textarea {
    resize: vertical;
    min-height: 100px;
}

/* Estilos para los botones de habilidades */
.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.skill-button {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.skill-button input[type="checkbox"] {
    display: none; /* Oculta el checkbox */
}


.skill-button:hover {
    background-color: #2D433C;
    border-color: #2D433C;
}

.skill-button input[type="checkbox"]:checked + span {
    background-color: #2D433C;
    border-color: #2D433C;
    color: #fff;
}

/* Estilos para el botón de envío */
.submit-button {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #2D433C;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #2D433C;
}